# Imports and utility functions

In [ ]:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import numpy as np #numpy
import seaborn as sns #seaborn
from sklearn.model_selection import train_test_split # split for validation sets
from sklearn.metrics import accuracy_score, f1_score, classification_report
import scipy
import pandas as pd
import re

In [ ]:
def cleanTexts(texts):
    cleaned = []
    pattern = "[^a-zA-Z0-9]"
    for text in texts:
        clrd = re.sub(pattern," ",text).lower().strip()
        cleaned.append(clrd)
    return cleaned

# Load data

In [ ]:
from sklearn.utils import shuffle

dataset = pd.read_csv('train_data_tweetsENG.csv')
dataset = shuffle(dataset)
dataset.tail()

                                                     text  label
566760  r @vranac_b @sotirovalex well, my ID was from ...      1
138600                      @EstelleDarlings Follow Me!!       1
40507   @CHILLSPOTATL lol I work on Sataurdays... tire...      0
612469                  Packing now... I dont want to go       0
202563  getting a bottle! anas  bowling...then!? with ...      1

In [ ]:
x_train = list((dataset['text']))
# print(x[:5])

y_train = list(dataset['label'])
# print(y[:5])

x_train = x_train[:10000]
y_train = y_train[:10000]

#x_train = x_train[:20000]
#y_train = y_train[:20000]

#x_train = x_train[:25000]
#y_train = y_train[:25000]

- to change number of samples, comment or uncomment this

In [ ]:
test_data = pd.read_csv('test_data_tweetsENG.csv')

x_test = list(test_data['text'])
y_test = list(test_data['label'])

x_test = x_test[:10000]
y_test = y_test[:10000]

# Tokenize data

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(binary=True, stop_words='english')

vectorizer.fit(x_train + x_test)

x_train_vec = vectorizer.transform(x_train) 
x_test_vec = vectorizer.transform(x_test)

# Train and predict model

In [ ]:
from sklearn import svm

svm = svm.SVC(C=1.0, kernel='linear', degree=3, gamma='auto')

prob = svm.fit(x_train_vec, y_train)

y_pred_svm = svm.predict(x_test_vec)

In [ ]:
accuracy_score(y_test, y_pred_svm) *100

71.22

In [ ]:
accuracy_sc = accuracy_score(y_pred=y_pred_svm.round(),y_true=y_test)*100
f1_sc = f1_score(y_pred=y_pred_svm.round(),y_true=y_test)

print("Accuracy score is {}% ".format(accuracy_sc))
print("f1-score is {}% ".format(f1_sc))
print(classification_report(y_pred=y_pred_svm.round(),y_true=y_test))

Accuracy score is 71.22%
f1-score is 0.7130608175473578%
              precision    recall  f1-score   support

           0       0.71      0.71      0.71      5000
           1       0.71      0.72      0.71      5000

    accuracy                           0.71     10000
   macro avg       0.71      0.71      0.71     10000
weighted avg       0.71      0.71      0.71     10000