In [ ]:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import numpy as np #numpy
import seaborn as sns #seaborn
from sklearn.model_selection import train_test_split # split for validation sets
from sklearn.metrics import accuracy_score, f1_score, classification_report
from sklearn.preprocessing import normalize # normalization of the matrix
import scipy
import pandas as pd
import re

In [ ]:
def cleanTexts(texts):
    cleaned = []
    pattern = "[^a-zA-Z0-9]"
    for text in texts:
        clrd = re.sub(pattern," ",text).lower().strip()
        cleaned.append(clrd)
    return cleaned

# Load data

In [ ]:
from sklearn.utils import shuffle

dataset = pd.read_csv('train_data_imdb.csv')
dataset = shuffle(dataset)
dataset.tail()

       Unnamed: 0                                               text  label
16946       14468  From a poorly contrived plot line that makes a...      0
4347        18615  Straight to the point: "The Groove Tube" is on...      0
9721        17200  For those who never saw A CHORUS LINE onstage ...      0
21802       12711  This film was slow but tedious and the acting ...      0
18530       16212  I read the running man from Kings books as Bac...      0

In [ ]:
x_train = list(cleanTexts(dataset['text']))
# print(x[:5])

y_train = list(dataset['label'])
# print(y[:5])

#x_train = x_train[:10000]
#y_train = y_train[:10000]

#x_train = x_train[:20000]
#y_train = y_train[:20000]

- to change number of samples, comment or uncomment this

In [ ]:
test_data = pd.read_csv('test_data_imdb.csv')

x_test = list(cleanTexts(test_data['text']))
y_test = list(test_data['label'])

x_test = x_test[:10000]
y_test = y_test[:10000]

# Tokenize data

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(binary=True, stop_words='english')

vectorizer.fit(x_train + x_test)

x_train_vec = vectorizer.transform(x_train) 
x_test_vec = vectorizer.transform(x_test)

# Train and predict model

In [ ]:
from sklearn import svm

svm = svm.SVC(C=1.0, kernel='linear', gamma='auto')

prob = svm.fit(x_train_vec, y_train)

y_pred_svm = svm.predict(x_test_vec)

In [ ]:
accuracy_score(y_test, y_pred_svm) *100

84.28999999999999

In [ ]:
accuracy_sc = accuracy_score(y_pred=y_pred_svm.round(),y_true=y_test)*100
f1_sc = f1_score(y_pred=y_pred_svm.round(),y_true=y_test)

print("Accuracy score is {}% ".format(accuracy_sc))
print("f1-score is {}% ".format(f1_sc))
print(classification_report(y_pred=y_pred_svm.round(),y_true=y_test))

Accuracy score is 84.28999999999999%
f1-score is 0.8424746816404292%
              precision    recall  f1-score   support

           0       0.84      0.85      0.84      4984
           1       0.85      0.84      0.84      5016

    accuracy                           0.84     10000
   macro avg       0.84      0.84      0.84     10000
weighted avg       0.84      0.84      0.84     10000